{block content}
    <h1 n:block="title">Piskvorky</h1>
    <h2><a n:href="Piskvorky:newgame">Nova hra</a></h2>
    <h2><a n:href="Piskvorky:load">Nacist hru</a></h2>

    <p><a n:href="Homepage:default">← Zpet na hlavni stranu</a></p>
{/block}